Source: ros-indigo-strands-sweep-registration
Section: misc
Priority: extra
Maintainer: Johan Ekekrantz <ekz@kth.se>
Build-Depends: debhelper (>= 9.0.0), libceres-dev, libpcl-1.7-all-dev, libsuitesparse-dev, ros-indigo-catkin, ros-indigo-cpp-common, ros-indigo-image-geometry, ros-indigo-metaroom-xml-parser, ros-indigo-pcl-ros, ros-indigo-qt-build, ros-indigo-rosconsole, ros-indigo-roscpp, ros-indigo-tf-conversions
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-strands-sweep-registration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libceres-dev, libpcl-1.7-all-dev, libsuitesparse-dev, ros-indigo-cpp-common, ros-indigo-image-geometry, ros-indigo-metaroom-xml-parser, ros-indigo-pcl-ros, ros-indigo-qt-build, ros-indigo-rosconsole, ros-indigo-roscpp, ros-indigo-tf-conversions
Description: The strands_room package
